name: Docker CI Vecino

on:
  push:
    branches: [ "main" ] # Se activa cuando haces push a la rama main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Usamos tu usuario confirmado de las capturas
          tags: mirkogutierrezappx/vecino:latest